/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap'); */

/* SETTING */
:root {
    font-size: 12px;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to right,  rgba(231,231,233,1) 0%,rgba(219,219,219,1) 50%,rgba(191,191,191,1) 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}


/* HEADER MENU */
header {
    position: absolute;
    width: 100%;
    top: 0;
}


header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
}


header .nav-sosial {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* background-color: green; */
    width: 70%;
    
}

header .nav-sosial li {
    color: black;
    /* background-color: var(--white); */
    
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #363062;
    font-weight: bold;
    font-size: 1.3rem;
}

header .nav-sosial a:focus, .nav-sosial a:hover {
    text-decoration: underline;
    transition: all .3s ease-in-out;
    color: #393ec0;
}

header .logo {
    background-color: #4b3bc6;
    color: wheat;
    border-radius: 10px;
    padding: 8.5px;
    font-size: 1.5rem;
    font-weight: bold;
}

header .logo a {
    color: white;
}


/* PROFILE MENU  */
.container-profile {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.profile-menu {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80vh;
    border-radius: 0 30% 0 0;
}

.profile-box {
    width: 60%;
    padding-right: 10px;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.title h1 {
    color: #393ec0;
}

.image {
    background: url("pictures/man.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90%;
    width: 50%;
    border-radius: 0 30% 0 30%;
}


/* BOX CARD  */
.box-info {
    margin: 100px auto;
    width: 70%;
    padding: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.179);
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
}

.box-info p {
    font-size: clamp(1rem, 5vw, 5rem);
    color: #393ec0;
    font-weight: 600;
    text-align: center;
}

.box-info .card-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
}

.box-info .card-box::-webkit-scrollbar {
    background-color: transparent;
}

.box-info .card-box div {
    background-color: red;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 100px;
    height: 100px;
}

.box-info .card-box div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-box .pics p {
    display: inline-block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.129);
    text-align: center;
    padding: 10px 0;
    font-size: 2rem;
    font-weight: bold;
    color: #290dfb;
    width: 50%;
    margin: auto;
    border-radius: 40px;
    /* transform: translateY(-100px); */
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.369);

}

.box-info .card-box div img:hover ~ p {
    transform: translateY(-100px);
    border-radius: 0;
    width: 80%;
    /* backdrop-filter: blur(10px);  */
    transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1) .5s, width .5s .6s;
}



